body {
    background: url(./gambar/pngtree-asymmetry-simple-white-abstract-cv-picture-image_1346371.jpg) top center;
}

.deskrip {
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    background-color: aquamarine;
}

#sekolah {
    background: url(./gambar/pengertian-pendidikan.jpg) center;
}
